/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #285386;
    padding: 15px 40px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 55px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul li a.active,
nav ul li a:hover {
    color: #FFD300;
}

/* HERO SECTION */
.hero {
    background: url("https://www.dsu.edu.in/images/slider/home5slider1.jpg") no-repeat center/cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* ABOUT SECTION */
.about {
    padding: 60px 80px;
    text-align: center;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #dbe1e7;
}

.about p {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #030609;
}

.about-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background: rgb(240, 240, 241);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 2, 6, 0.1);
}

.card h3 {
    color: #02090e;
    margin-bottom: 10px;
}

/* HIGHLIGHTS */
.highlights {
    background: #e6e7ea;
    padding: 60px 80px;
    text-align: center;
}

.highlights h2 {
    color: #002B5B;
    margin-bottom: 30px;
}

.highlight-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.highlight {
    background: white;
    width: 260px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.highlight h3 {
    margin-bottom: 10px;
    color: #0056A3;
}

/* FOOTER */
footer {
    background: #002B5B;
    color: white;
    text-align: center;
    padding: 15px;
}
